{{#each buckets}}

  <section data-id={{_id}}>
      <div class="gallery-all">
       <a href={{url}} target="_blank">
        <img src="{{url}}">
        </a>     
      </div>
  </section>

{{/each}}
