@import '~bootstrap/scss/bootstrap';

#homescreen-jpg {
  background-size: cover;
  width: 100vw;
  min-width: 1000px;
  height: auto;
  filter: blur(7px);
}

#logo {
  font-family: 'Righteous', cursive;
  font-size: 10em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

#logo-color {
  font-family: 'Righteous', cursive;
  color: #337df6;
}

.collapse {
  justify-content: flex-end;
}

.content-all {
  align-items: center;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: auto;
  height: 90vh;
  justify-content: center;
  margin: 35px auto;
  margin-bottom: 55px;
  overflow: scroll;
}

.gallery-all {
  background-color: white;
  border-bottom: 1px solid rgba(115, 115, 115, 0.4);
  border-radius: 5px;
  border-right: 1px solid rgba(115, 115, 115, 0.4);
  display: flex;
  flex-direction: column;
  height: 35vh;
  margin: auto;
  min-width: 300px;
  opacity: 0.8;
  overflow: scroll;
  padding: 40px 35px 40px 20px;
  text-align: center;
  width: 55vw;
}

img {
  width: 30%;
}
