@import '~bootstrap/scss/bootstrap';

body {
  height: 100%;
}

#homescreen-jpg {
  background-image: url("../../public/images/homescreen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  min-height: 950px;
  min-width: 800px;
  filter: blur(7px);
}

#bg-text {
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: fit-content;
  padding: 20px 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

#logo {
  font-family: 'Righteous', cursive;
  font-size: 10em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

#nav-logo {
  font-family: 'Righteous', cursive;
}

#logo-color {
  font-family: 'Righteous', cursive;
  color: #337df6;
}

#nav-logo-color {
  font-family: 'Righteous', cursive;
  color: #337df6;
}

.collapse {
  justify-content: flex-end;
}

.content {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
}

.gallery-all {
  justify-content: center;
  height: 500px;
  width: 400px;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

img {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.handle-btn {
  background-color: #337df6;
  color: white;
  border-radius: 8px;
  padding: 9px;
}


.row {
  z-index: 2;
  position: absolute;
  margin-top: -400px;
  margin-left: 75px;
  opacity: 0.9;
}

.limit {
  opacity: 0;
  position: absolute;
  margin-top: -65px;
  margin-left: 75px;
}

.limit:hover {
  opacity: 1;
}


